/* Basic styles for the login form */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.input-group .toggle-password {
    position: absolute;
    right: 20px;
    top: 42px;
    cursor: pointer;
}

.login-btn {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-btn:hover {
    background-color: #218838;
}

#login-message {
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
    color: #ff0000;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #d33d47;
}

/* Responsive Design */
@media screen and (min-width: 768px) {
    .restaurant-section {
        flex-direction: row;
    }

    .restaurant-details {
        margin-left: 30px;
    }
}

@media screen and (max-width: 767px) {
    .nav-links {
        flex-direction: column;
    }

    .shop-btn {
        margin-top: 20px;
    }
}